.resize {

	margin-top: 15%;
	width : 40%;
	height : 55%;
	position: absolute;
	right: 10%;


   }


   .resize2 {

	margin-top: 0%;
	margin-right: -7%;
	width : 40%;
	height : 5%;
	position: absolute;
	right: 10%;


   }

   #NEET{


     font-size: 15px;




   }